{% extends 'base.html.twig' %}

{% block title %}Create new Category{% endblock %}

{% block body %}
    <h3>Register Product</h3>
    {{ form(ProductCreateForm) }}
    <br />
    <a href="{{ path('entry') }}">Home</a>
{% endblock %}



