{% extends 'base.html.twig' %}

{% block title %}Main Menu{% endblock %}

{% block body %}

    <h2>Productcategorys</h2>
    <ul class="mainMenu">
    <a href="{{ path('adminCreateCategory') }}">Create new Category</a>
    {%for menuItem in menu %}
        <li><a href="{{ url('adminAllProducts', {'mainId' : menuItem.id}) }}">{{ menuItem.displayName }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ path('entry') }}">Home</a>
    <div>
        <form action="/logout" method="post">
            <input type="submit" name="logout" value="Logout">
        </form>
    </div>

{% endblock %}