{% extends 'base.html.twig' %}


{% block title %}Products{% endblock %}

{% block body %}

    <h2>Product</h2>

    {{ form(ProductSaveForm) }}

    <a href="{{ path('adminProductDelete', {'productId' : productById.id, 'category' : productById.category.name, 'mainId' : productById.category.id}) }}">Delete</a>
    <a href="{{ path('entry') }}">Home</a>

{% endblock %}
